.gsci_logo {
font-family: 'Goldman', cursive;
}

.gsci_footer_button {
    font-size: .9rem;
}

.gsci_footer {
    text-align:center;
    margin-top: 2rem;
}

.gsci_header {
    text-align:center;
    margin: 2rem 0;
}

@media screen and (max-width:500px) {
    html {
     font-size: 13px
    }
}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}


.gsci_header_nav {

    margin: 0 0.5rem;

}

.gsci_header_navbar {

    margin: 1rem 0;

}