.gsci_logo {
font-family: 'Goldman', cursive;
}

.gsci_footer_button {
    font-size: .9rem;
}

.gsci_footer {
    text-align:center;
    margin-top: 2rem;
}

.gsci_header {
    text-align:center;
    margin: 2rem 0;
}

@media screen and (max-width:500px) {
    html {
     font-size: 13px
    }
}